<!-- Navbar -->
<header>
    <div class="header">
        <nav class="navbar pd-rl--46 navbar-expand-md" id="navbar">
            <div class="navbar-logo-anicon">
                <img src="https://dev.anicon.asia/images/logo.png" alt="anicon" class="logo-img">
            </div>
            <div>
                <ul class="menu-list">
                    <a routerLink="/home-page" routerLinkActive="active">
                        <li class="menu-list-item">
                            <i nz-icon nzType="home" nzTheme="outline"></i> Trang chủ</li>
                    </a>
                    <a href="#">
                        <li class="menu-list-item">
                            <i nz-icon nzType="bar-chart" nzTheme="outline"></i> Dự án
                        </li>
                    </a>
                    <a href="#">
                        <li class="menu-list-item">
                            <i nz-icon nzType="api" nzTheme="outline"></i>Kết nối nông sản</li>
                    </a>
                    <a href="#">
                        <li class="menu-list-item">
                            <i nz-icon nzType="bell" nzTheme="outline"></i>Tin tức</li>
                    </a>
                </ul>
            </div>
            <div class="navbar-login-submit">
                <a>
                    <button class="btn" routerLink="/register" routerLinkActive="active" nz-button nzType="default">Đăng ký</button>
                </a>
                <a class="login-link">
                    <button class="btn" routerLink="/login" routerLinkActive="active" nz-button nzType="primary">Đăng nhập</button>
                </a>
            </div>

        </nav>

        <div class="header-line"></div>
    </div>
</header>

<button class="menu-mobile-tablet" nz-button nzType="primary" (click)="open()"> <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i></button>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Anicon ASEA" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <div class="menu-mobile-tablet--content">
            <div>
                <ul class="menu-mobile-list">
                    <li class="menu-mobile-list-item">
                        <a routerLink="/home-page" routerLinkActive="active">
                            <i nz-icon nzType="home" nzTheme="outline"></i> Trang chủ
                        </a>
                    </li>
                    <li class="menu-mobile-list-item">
                        <a href="#">
                            <i nz-icon nzType="bar-chart" nzTheme="outline"></i> Dự án
                        </a>
                    </li>
                    <li class="menu-mobile-list-item">
                        <a href="#">
                            <i nz-icon nzType="api" nzTheme="outline"></i>Kết nối nông sản
                        </a>
                    </li>
                    <li class="menu-mobile-list-item">
                        <a href="#">
                            <i nz-icon nzType="bell" nzTheme="outline"></i>Tin tức
                        </a>
                    </li>
                    <li class="menu-mobile-list-item">
                        <a>
                            <button class="btn" routerLink="/register" routerLinkActive="active" nz-button nzType="default">Đăng ký</button>
                        </a>
                    </li>
                    <li class="menu-mobile-list-item">
                        <a class="login-link">
                            <button class="btn" routerLink="/login" routerLinkActive="active" nz-button nzType="primary">Đăng nhập</button>
                        </a>
                    </li>

                </ul>



            </div>

        </div>
    </ng-container>
</nz-drawer>
<router-outlet></router-outlet>
