@import "~ng-zorro-antd/ng-zorro-antd.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.btn {
    margin: 0 8px;
    display: inline-block;
    width: 100px;
}

.ant-btn {
    background-color: #fafafa;
}

.ant-btn:focus,
.ant-btn:hover {
    border-color: #3cd85e;
    color: #444;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: var(--font-family-roboto);
}

.header-line {
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 50%;
    margin: 0 auto;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-anicon {
    width: 168px;
}

.logo-img {
    width: 100%;
}

.menu-list {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    line-height: 3.9;
}

.menu-list a {
    margin: 0 28px;
    color: #444;
}

.menu-list-item {
    font-size: 16px;
    transition: 0.8s;
    transition-property: #444, transform;
}

.menu-list-item i,
.menu-mobile-list-item i {
    color: var(--primary-color);
    font-size: 2rem;
    padding-right: 6px;
}

.menu-list-item:hover {
    color: #19c53f;
    transform: 0.2 ease-in;
}

.login-link {
    margin-right: -8px;
}


/* Menu mobile */

.menu-mobile-list-item a {
    color: #000;
}

.menu-mobile-tablet {
    display: none;
    z-index: 999;
    right: 36px;
    top: 12px;
    position: fixed;
}

.menu-mobile-list {
    list-style: none;
}

.menu-mobile-list-item {
    width: 100%;
    padding: 10px 0;
    font-size: 2rem;
}


/* Change nz-zorro */

a {
    color: #19c53f;
    display: inline-block;
}

a:hover {
    color: #3cd85e;
}

.ant-btn-primary {
    background-color: #19c53f;
    border-color: #19c53f;
    color: #fff;
    transition: 0.5s;
    transition-property: #444, transform;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
    background-color: rgb(60, 216, 94);
    border-color: rgb(60, 216, 94);
    color: #fff;
    transform: 0.2 ease-in;
}

.navbar-shadow {
    transition: all 0.6s ease-in-out;
    box-shadow: 0 1px 35px 0 rgb(0 0 0 / 20%);
}


/* Responsive */


/* // Extra small devices (portrait phones, less than 576px) */

@media (min-width: 576px) {}


/* Mobile */

@media (max-width: 739px) {}


/* Mobile & Tablet */

@media (max-width: 1023px) {
    .menu-list {
        display: none;
    }
    .navbar-login-submit {
        display: none;
    }
    .menu-mobile-tablet {
        display: block;
    }
    .btn {
        margin: 0;
        display: inline-block;
        width: 206px;
        max-width: 100%;
    }
    /* Padding */
    .pd-rl--46 {
        padding: 0 36px !important;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Ipad pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .menu-list-item {
        font-size: 16px;
    }
    .menu-list-item i {
        color: var(--primary-color);
        font-size: 1.3rem;
        padding-right: 2px;
    }
    /* Padding */
    .pd-rl--46 {
        padding: 0 36px !important;
    }
}
