.footer {
    position: relative;
    top: 100px;
}

.footer-new {
    background: rgba(50, 191, 0, 0.89);
    color: white;
    padding-top: 80px;
}

.footer-new-content {
    padding: 0 34px;
}

.footer-new-list {
    padding: 0 12px;
}

.footer-new-list--title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.footer-new-list--item {
    font-size: 1.6rem;
    list-style: none;
    line-height: 1.8;
}

.footer-new-list--item li a {
    color: #fff;
}

.footer-bottom {
    background-color: #36c055;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.footer-bottom p {
    padding: 10px 0;
}

.footer-new-list--icon {
    padding: 0 6px;
}


/* Responsive */


/* // Extra small devices (portrait phones, less than 576px) */

@media (min-width: 576px) {}


/* Mobile */

@media (max-width: 739px) {
    .footer-new-list {
        margin: 0 -12px;
    }
}


/* Mobile & Tablet */

@media (max-width: 1023px) {}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .footer-new-content {
        padding: 0 28px !important;
    }
}


/* Ipad pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .footer-new-content {
        padding: 0 28px !important;
    }
}
