<footer>
    <div class="footer">
        <div class="footer-new">
            <div class="footer-new-content" nz-row>
                <div class="footer-new-list" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                    <h1 class="footer-new-list--title">Thông tin Anicon</h1>
                    <ul class="footer-new-list--item">
                        <li>Địa chỉ: Số 41 Ngõ 37 Trần Quốc Hoàn</li>
                        <li>SĐT: 0389648068</li>
                        <li>
                            Email: anicon.hotro@gmail.com</li>
                        <li>Mạng xã hội:
                            <a href="https://www.facebook.com/NenTangKetNoiAnicon">
                                <i class="footer-new-list--icon" nz-icon nzType="facebook" nzTheme="outline"></i>
                            </a>
                            <a href="#">
                                <i class="footer-new-list--icon" nz-icon nzType="youtube" nzTheme="outline"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-new-list" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                    <h1 class="footer-new-list--title">GIỚI THIỆU</h1>
                    <ul class="footer-new-list--item">
                        <li>Tầm nhìn & Sứ mệnh</li>
                        <li>Tuyển dụng</li>
                        <li>Điều khoản tài khoản</li>
                    </ul>
                </div>
                <div class="footer-new-list" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                    <h1 class="footer-new-list--title">CÁC ĐỐI TÁC</h1>
                    <ul class="footer-new-list--item">
                        <li>Annhan.asia</li>
                        <li>Adgame.asia</li>
                    </ul>
                </div>
                <div class="footer-new-list" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
                    <h1 class="footer-new-list--title">HƯỚNG DẪN</h1>
                    <ul class="footer-new-list--item">
                        <li>
                            <a href="#">
                            Đăng ký tài khoản Anicon
                          </a>
                        </li>
                        <li>Đăng ký hướng dẫn trồng trọt</li>
                        <li>Đăng ký hướng dẫn chăn nuôi</li>
                        <li>Đăng ký xây dựng thương hiệu</li>
                        <li>Đăng ký lập trình Web, App</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright @2020. Anicon JSC</p>
        </div>
    </div>
</footer>
