<!-- Login form -->
<div class="form-login" nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="12" nzXl="8"></div>
    <div class="form-login-item" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="12" nzXl="8">
        <div class="form-login-list">
            <p class="form-title-register">Đăng nhập</p>
            <form nz-form [formGroup]="singInForm" class="login-form" autocomplete="off" (ngSubmit)="submitForm()">
                <p>Số điện thoại hoặc email đăng nhập</p>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Số điện thoại hoặc email không chính xác!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="user_name" placeholder="Nhập số điện thoại hoặc email đã đăng ký" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <p>Mật khẩu</p>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Mật khẩu không chính xác!">
                        <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu" formControlName="password" />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <div nz-row class="login-form-margin">
                    <!--  <div nz-col [nzSpan]="12">
                  <label nz-checkbox formControlName="remember">
                    <span>Nhớ mật khẩu</span>
                  </label>
                </div> -->
                    <div nz-col nzSpan="12" nzOffset="4">
                        <a class="login-form-forgot">Quên mật khẩu</a>
                    </div>
                </div>
                <button nz-button class="login-form-button login-form-margin" [disabled]="!singInForm.valid" [nzType]="'primary'">Đăng nhập</button>
                <div class="form-title">
                    Nếu bạn chưa có tài khoản vui lòng
                    <a>đăng ký tại đây!</a>
                </div>
                <!-- <pre>{{ singInForm.value | json }}</pre> -->
            </form>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="12" nzXl="8"></div>
</div>
<app-footer></app-footer>