@import "~ng-zorro-antd/ng-zorro-antd.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.btn {
    margin: 0 6px;
    display: inline-block;
    width: 100px;
}

.ant-btn {
    background-color: #fafafa;
}

.ant-btn:focus,
.ant-btn:hover {
    border-color: #3cd85e;
    color: #444;
}


/* Form-register */

.form-login {
    position: relative;
    top: 140px;
    margin-bottom: 120px;
}

.form-login-item {
    width: 100%;
    box-shadow: 1px 1px 36px rgb(0 0 0 / 10%);
    border-radius: 6px;
}

.form-login-list {
    padding: 16px;
}

.form-title-register {
    text-align: center;
    font-size: 20px;
    color: #444;
    padding: 10px 0;
}

.form-title {
    font-size: 14px;
    text-align: center;
}

.login-form {
    width: 80%;
    margin: 0 auto;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}


/* Change ng-zorro */

a {
    color: #19c53f;
}

a:hover {
    color: #3cd85e;
}

.ant-btn-primary {
    background-color: #19c53f;
    border-color: #19c53f;
    color: #fff;
    transition: 0.5s;
    transition-property: #444, transform;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
    background-color: rgb(60, 216, 94);
    border-color: rgb(60, 216, 94);
    color: #fff;
    transform: 0.2 ease-in;
}


/* Responsive */


/* // Extra small devices (portrait phones, less than 576px) */

@media (min-width: 576px) {}


/* Mobile */

@media (max-width: 739px) {}


/* Mobile & Tablet */

@media (max-width: 1023px) {}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}
