    /* You can add global styles to this file, and also import other style files */

    * {
        margin: 0;
        padding: 0;
    }

    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        font-size: 62.5%;
        line-height: 1.5;
    }

     :root {
        --font-family-roboto: 'Roboto', sans-serif;
        --primary-color: #19c53f;
        --text-color: #4F4F4F;
        --text-color-purple: #272d4e;
        --text-color-primary: #51cf3c;
    }
    /* Margin */

    .mrg-rl---12 {
        margin-left: -12px !important;
        margin-right: -12px !important;
    }

    .mrg-top--40 {
        margin-top: 40px !important;
    }
    /* Padding */

    .pd-rl--46 {
        padding: 0 46px;
    }
    /* Font text*/

    .text-color-h1 {
        color: var(--text-color-purple);
    }

    .text-color-p {
        color: var(--text-color)
    }

    .font-title--34 {
        font-size: 3rem !important;
    }

    .font-title--18 {
        font-size: 1.8rem !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-center {
        text-align: center !important;
    }

    .mrg-text--14 {
        margin: 14px 0 !important;
    }

    .font-weight--bold {
        font-weight: bold !important;
    }
