/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Mobile */

@media (max-width: 739px) {
    .middle-banner--left-article,
    .middle-banner--right-article {
        display: none;
    }
    .middle-banner {
        display: none;
    }
    .bottom-first-content {
        padding: 0 30px !important;
    }
    .worth-content {
        padding-bottom: 0px !important;
    }
    .admit-title h1 {
        width: 100% !important;
    }
    .counter h1 {
        margin-top: 0px !important;
    }
    .btn-watch {
        width: 100%;
    }
    .middle-banner-mobile {
        display: block !important;
    }
}


/* Mobile & Tablet */

@media (max-width: 1023px) {
    .middle-banner--left-img,
    .middle-banner--right-img,
    .bottom-last-content--img {
        display: none;
    }
    .menu-list-item {
        font-size: 12px;
    }
    .intro-right {
        display: none;
    }
    .introduce {
        margin-bottom: 0px !important;
    }
    .middle-banner--right-article {
        right: -55px;
        position: relative;
    }
    /* Padding */
    .pd-rl--46 {
        padding: 0 36px !important;
    }
    .margin-46 {
        margin: 0 -36px !important;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* IPad pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .middle-banner--left-img,
    .middle-banner--right-img {
        display: none;
    }
    .introduce {
        margin-bottom: 0px !important;
    }
    .intro-right {
        display: none;
    }
    .service-content-article {
        padding: 22px !important;
    }
    .middle-banner--right-article {
        position: relative;
        right: -20%;
    }
    .middle-banner--left-article {
        left: 20% !important;
    }
    /* Padding */
    .pd-rl--46 {
        padding: 0 36px !important;
    }
    .margin-46 {
        margin: 0 -36px !important;
    }
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    top: 100px;
    position: relative;
    font-family: var(--font-family-roboto);
}


/* Introduce start */

.introduce {
    margin-bottom: 222px;
}

.intro-left h1 {
    font-size: 3.8rem;
    color: var(--text-color-purple);
    font-weight: 700;
}

.intro-left p {
    font-size: 1.8rem;
    color: var(--text-color);
}

.intro-right {
    position: relative;
}

.btn-register,
.btn-watch {
    background-color: var(--text-color-primary);
    padding: 12px 36px;
    border-style: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all ease 0.5s;
}

.btn-register:hover {
    background-color: #6adb56;
    box-shadow: 1px 1px 20px #6adb56;
}

.group__7 {
    position: absolute;
    width: 25rem;
    height: 37rem;
    top: 37%;
    left: 6%;
    border-radius: 0px;
    background: url('https://dev.anicon.asia/images/header__middle__right__Dots__7.png') no-repeat;
}

.group__15 img {
    position: absolute;
    width: 216px;
    height: 142px;
    top: 24%;
    left: 12%;
    z-index: 20;
    border-radius: 16px;
}

.intro-img img {
    width: 362px;
    position: absolute;
    top: 76%;
    left: 17%;
    z-index: 10;
    border-radius: 20px;
}

.image__26 img {
    width: 274px;
    position: absolute;
    z-index: 30;
    top: 18%;
    left: 52%;
}

.group__8 {
    position: absolute;
    height: 37rem;
    width: 17rem;
    background: url('https://dev.anicon.asia/images/header__middle__right__Dots__8.png') no-repeat center;
    border-radius: 0px;
    bottom: -37%;
    right: 37%;
    object-fit: cover;
}

.group__5 {
    position: absolute;
    height: 37rem;
    width: 17rem;
    background: url('https://dev.anicon.asia/images/header__middle__right__Dots__5.png') no-repeat center;
    border-radius: 0px;
    top: 50%;
    right: 16%;
    object-fit: cover;
}


/* Introduction end */


/* Custom */

.custom {
    width: 100%;
    padding-top: 42px;
}


/* Custom end */


/* Service start */


/* .service {
    overflow: hidden;
}
 */

.service-content-item {
    padding: 18px 12px;
}

.service-content-article {
    background: #ffffff;
    box-shadow: 1px 1px 18px rgb(34 34 34 / 18%);
    border-radius: 20px;
    padding: 38px;
    height: 280px;
}

.service-content-article h2 {
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 2.8rem;
}

.service-content-article p {
    color: var(--text-color);
    font-size: 1.6rem;
}


/* Service end */


/* Worth start */

.worth {
    width: 100%;
}

.worth-content {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 18px;
    display: flex;
    align-items: center;
}

.worth-content-item {
    width: 100%;
    padding: 0 12px;
}

.worth-content-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.worth-article h2 {
    color: var( --text-color-purple);
    font-size: 2.4rem;
}

.worth-article span {
    color: var( --text-color);
    font-size: 1.8rem;
}


/* Worth end  */


/* Middle-banner start  */

.middle-banner {
    width: 100%;
    height: 832.5px;
    background: url('https://dev.anicon.asia/images/background-image3-min.png') no-repeat center;
    background-size: cover;
    position: relative;
}

.margin-46 {
    margin: 0 -46px;
}

.btn-watch {
    transition: all 1s ease;
    display: flex;
    justify-content: center;
}

.btn-watch i {
    font-size: 2rem;
    padding: 3px 0px 0px 6px;
}

.btn-watch:hover {
    background-color: #f00;
    box-shadow: 1px 1px 10px #f00;
}

.btn-watch a {
    color: #fff;
}


/* .middle-banner--left {}
*/

.middle-banner--left-img {
    width: 48.5rem;
    height: 40rem;
    position: absolute;
    top: -8%;
    left: 8%;
    z-index: 2;
}

.middle-banner--left-article {
    position: absolute;
    top: 64%;
    left: 7%;
    color: #fff;
}

.middle-banner--left-article h2,
.middle-banner--right-article h2 {
    font-size: 2.6rem;
    color: #fff;
}


/* .middle-banner--right {}
*/

.middle-banner--right-article {
    margin-top: 80px;
    color: #fff;
    width: 500px;
}

.middle-banner--right-details p,
.middle-banner--left-details {
    color: #fff;
    font-size: 1.8rem;
    line-height: 2;
}

.middle-banner--right-img {
    width: 100%;
    position: absolute;
    top: 70%;
}

.middle-banner-mobile {
    padding: 0 28px;
    display: none;
}

.middle-banner-mobile--item {
    padding: 12px 0;
}

.middle-banner-mobile--item h2 {
    font-size: 1.8rem;
}

.middle-banner-mobile--details p {
    font-size: 1.6rem;
}

.middle-banner-mobile--p {
    padding: 10px 0;
}


/* Middle-banner end */


/* Counter start */

.counter h1 {
    margin-top: 150px;
}

.counter-item {
    text-align: center;
    padding: 12px 0;
}

.counter-item p {
    text-transform: uppercase;
    font-weight: 600;
}

.counting {
    color: var(--text-color-primary);
    font-size: 3.8rem;
    font-weight: bold;
}

.counting-icon {
    padding-right: 6px;
    font-size: 2rem;
    color: var(--primary-color);
}


/* Counter end */


/* News start */

.news {
    width: 100%;
}

.news-content {
    width: 100%;
}

.news-content-item {
    width: 100%;
    padding: 0 12px;
}

.news-content-item img {
    border-radius: 4px;
    width: 100%;
    height: 258px;
}

.news-content-item--article h3 {
    color: var(--text-color-purple);
    font-size: 2rem;
    padding-top: 12px;
}

.news-content-item--article p {
    padding: 12px 0;
    font-size: 1.6rem;
}

.news-content-item--details a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.news-content-item--details p {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 1.8rem;
    padding: 0 6px;
}

.news-content-item--details i {
    font-size: 2rem;
    color: #000;
}


/* News end */


/* Admit start  */

.admit {
    width: 100%;
}

.admit-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.admit-content-item {
    width: 100%;
    padding: 0 12px;
}

.admit-user {
    display: flex;
}

.admit-article h2 {
    color: var( --text-color-purple);
    font-size: 2rem;
}

.admit-article span {
    color: var( --text-color);
    font-size: 1.8rem;
}


/* Admit end   */


/* Bottom start */

.bottom {
    width: 100%;
    background: linear-gradient( 180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    position: relative;
}

.bottom-first-content {
    padding: 0 100px;
}

.bottom-first-content p {
    padding-bottom: 38px;
}

.bottom-first-content img {
    width: 100%;
    object-fit: cover;
}

.bottom-last {
    width: 100%;
    background-color: rgba(50, 191, 0, 0.89);
    color: #FFFFFF;
    margin-left: none;
    margin-right: none;
}

.bottom-last-content {
    padding: 0 46px;
}

.bottom-last-content--title {
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    padding: 42px 0;
}

.bottom-last-content--list {
    list-style: none;
    font-size: 2rem;
    line-height: 2;
}

.bottom-last-content--list i {
    padding-right: 6px;
    font-size: 2.2rem;
}

.bottom-last-content--img img {
    width: 60%;
    object-fit: cover;
}


/* Bottom end */


/* Back top */

 :host ::ng-deep .ant-back-top {
    bottom: 100px;
}

 :host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #f00;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

 :host ::ng-deep strong {
    color: #1088e9;
}

 :host ::ng-deep .ant-back-top {
    padding: 0;
    color: rgba(0, 0, 0, .85);
    position: fixed;
    left: 80px;
    bottom: 50px;
    z-index: 10;
    width: 40px;
    height: 40px;
}


/* Slick preview */

:host ::ng-deep .slick-prev:before,
:host ::ng-deep .slick-next:before {
    color: var(--primary-color);
    font-size: 5rem;
}

:host ::ng-deep .slick-prev,
:host ::ng-deep .slick-next {
    z-index: 99;
}

:host ::ng-deep .slick-next {
    right: 10px;
}

:host ::ng-deep .slick-prev {
    left: -20px;
}
