<!-- Home-page-->

<body>
    <div class="container pd-rl--46">
        <!-- Introduction start -->
        <div class="introduce" nz-row [nzGutter]="24">
            <div class="intro-left" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12">
                <h1>Nền tảng quản lý canh tác và hỗ trợ kết nối nông nghiệp</h1>
                <p class="mrg-text--14">Anicon cung cấp giải pháp toàn diện giúp người nông dân và các nông trại phát triển thương hiệu, nâng cao giá trị sản phẩm để có thể kết nối, giới thiệu sản phẩm của mình tới các đơn vị thu mua nông sản.</p>
                <button type="button" class="btn btn-register">Tạo tài khoản</button>
            </div>
            <div class="intro-right" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12">
                <div class="group__7"></div>
                <div class="group__15">
                    <img src="https://dev.anicon.asia/images/header__middle__right_Image15.png" alt="image">
                </div>
                <div class="intro-img">
                    <img src="	https://dev.anicon.asia/images/header__middle__right__Bitmap.png" alt="intro-img">
                </div>
                <div class="image__26">
                    <img src="https://dev.anicon.asia/images/header__middle__right_Image26.png" alt="">
                </div>
                <div class="group__8">

                </div>
                <div class="group__5"></div>
            </div>
        </div>
        <!-- Introduction end -->
        <!-- Custom start -->
        <div class="custom">
            <div class="custom-title">
                <h1 class="font-title--34 text-center font-weight--bold text-color-h1 ">Khách hàng của chúng tôi</h1>
                <p class="font-title--18 text-center mrg-text--14 text-color-p">Những khách hàng đã hợp tác với Anicon</p>
            </div>
            <ngx-slick-carousel class="custom-logo" #slickModal="slick-carousel" [config]="slideCustomConfig" responsive="responsive">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
                </div>
                <!--  <div class="custom-log-item" ngxSlickItem>
                    <img src="https://dev.anicon.asia/images/partner/farm-to-kit.png" alt="logo">
                </div>
                <div class="custom-log-item" ngxSlickItem>
                    <img src="https://dev.anicon.asia/images/partner/tax-jar.png" alt="logo">
                </div>
                <div class="custom-log-item" ngxSlickItem>
                    <img src="https://dev.anicon.asia/images/partner/hanoi_org.png" alt="logo">
                </div>
                <div class="custom-log-item" ngxSlickItem>
                    <img src="https://dev.anicon.asia/images/partner/hano_chan.png" alt="logo">
                </div>
                <div class="custom-log-item" ngxSlickItem>
                    <img src="https://dev.anicon.asia/images/partner/nbc.png" alt="logo">
                </div>
                <div class="custom-log-item" ngxSlickItem>
                    <img src="	https://dev.anicon.asia/images/partner/taihei.png" alt="logo">
                </div> -->
            </ngx-slick-carousel>
        </div>
        <!-- Custom end -->
        <!-- service start -->
        <div class="service mrg-top--40">
            <div class="service-title">
                <h1 class="font-title--34 text-center font-weight--bold text-color-h1 ">Các dịch vụ của chúng tôi</h1>
                <p class="font-title--18 text-center mrg-text--14 text-color-p"> Những dịch vụ của Anicon dành cho khách hàng</p>
            </div>
            <div class="mrg-rl---12">
                <ngx-slick-carousel class="service-content" #slickModal="slick-carousel" [config]="slideServiceConfig" responsive="responsive">
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo1.png" alt="img-service">
                            <h2 class="mrg-text--14">Kết nối online</h2>
                            <p>Tổ chức các sự kiện online để các nông trại và siêu thị có thể kết nối, đàm phán giá, nhập hàng.</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo2.png" alt="img-service">
                            <h2 class="mrg-text--14">Quản lý thông tin</h2>
                            <p>Hỗ trợ các sở, ban ngành nông nghiệp quản lý thông tin của nông trại nhanh chóng, chính xác để đưa ra các chính sách hỗ trợ nông dân tốt hơn</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo3.png" alt="img-service">
                            <h2 class="mrg-text--14">Xác minh thông tin</h2>
                            <p>Xác minh, kiểm định chất lượng các nông trại, nhà sản xuất, doanh nghiệp, chủ sở hữu các tài khoản trên nền tảng</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo4.png" alt="img-service">
                            <h2 class="mrg-text--14">Thiết kế & in ấn</h2>
                            <p>Hỗ trợ thiết kế & in ấn các bao bì, tem, nhãn mác, QR code trong bộ nhận diện thương hiệu</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo5.png" alt="img-service">
                            <h2 class="mrg-text--14">Quản lý canh tác</h2>
                            <p>Hệ thống nhật ký canh tác giúp nông trại, HTX dễ dàng quản lý các hoạt động sản xuất nông sản</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo6.png" alt="img-service">
                            <h2 class="mrg-text--14">Đào tạo nông trại</h2>
                            <p>Tổ chức hướng dẫn, đào tạo về kỹ thuật canh tác, cách làm thương hiệu và bán sản phẩm cho nông trại, HTX...</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="	https://dev.anicon.asia/images/logo/logo7.png" alt="img-service">
                            <h2 class="mrg-text--14">Truyền thông</h2>
                            <p>Hỗ trợ quảng cáo, truyền thông, liên hệ với bên thứ 3 để tổ chức các chiến dịch marketing cho nông trại, siêu thị</p>
                        </div>
                    </div>
                    <div class="service-content-item" ngxSlickItem>
                        <div class="service-content-article">
                            <img src="https://dev.anicon.asia/images/logo/logo8.png" alt="img-service">
                            <h2 class="mrg-text--14">Farm tour</h2>
                            <p>Tổ chức các chuyến du lịch kết hợp trải nghiệm và tìm hiểu về nông nghiệp tại Việt Nam hoặc nước ngoài.</p>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>

        </div>
        <!-- service end -->
        <!-- Worth start -->
        <div class="worth  mrg-top--40">
            <div class="worth-title">
                <h1 class="font-title--34 text-center font-weight--bold">Giá trị cốt lõi của nền tảng</h1>
                <p class="font-title--18 text-center mrg-text--14 text-color-p">Những giá trị mà Anicon mang lại</p>
            </div>
            <div class="mrg-rl---12">
                <ngx-slick-carousel class="worth-content" #slickModal="slick-carousel" [config]="slideWorthConfig" responsive="responsive">
                    <div class="worth-content-item" ngxSlickItem>
                        <img src="https://anicon-dev.s3.ap-southeast-1.amazonaws.com/main_value/1631535857838WiFzy01.png" alt="worth-img">
                        <div class="worth-article">
                            <h2 class="mrg-text--14">Nâng tầm giá trị của nông sản Việt</h2>
                            <span>Dưới sự giám sát của cơ quan quản lý về các tiêu chuẩn, chỉ số an toàn chất lượng, có thể đảm bảo sản phẩm được làm ra đáp ứng yêu cầu của mọi thị trường khó tính</span>
                        </div>
                    </div>
                    <div class="worth-content-item" ngxSlickItem>
                        <img src="https://anicon-dev.s3.ap-southeast-1.amazonaws.com/main_value/1631535822947Co5ALXr.png" alt="worth-img">
                        <div class="worth-article">
                            <h2 class="mrg-text--14">Tối ưu hoá quy trình quản lý canh tác</h2>
                            <span>Quy trình quản lý canh tác bằng hệ thống nhật kí online giúp cho nông trại tiết kiệm thời gian, tránh sai sót, dễ dàng truy cập mọi lúc mọi nơi</span>
                        </div>
                    </div>
                    <div class="worth-content-item" ngxSlickItem>
                        <img src="https://anicon-dev.s3.ap-southeast-1.amazonaws.com/main_value/1631535257273j4pMeSY.png" alt="worth-img">
                        <div class="worth-article">
                            <h2 class="mrg-text--14">Gia tăng kết nối tiêu thụ sản phẩm</h2>
                            <span>Giải quyết bài toán đầu ra bền vững cho các nông trại do được kết nối trực tiếp tới các đơn vị thu mua lớn, chuỗi siêu thị và công ty xuất nhập khẩu</span>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        <!-- Worth end -->
        <!-- Middle-Banner start-->
        <div class="banner margin-46">
            <div class="middle-banner-mobile mrg-top--40">
                <h1 class="font-title--34 text-center font-weight--bold text-color-h1 ">Hướng dẫn đăng kí tài khoản</h1>
                <div class="middle-banner-mobile--item">
                    <h2>3 BƯỚC ĐỂ DỄ DÀNG THAM GIA</h2>
                    <div class="middle-banner-mobile--details">
                        <p class="middle-banner-mobile--p">Chỉ mất vài phút là bạn đã có thể đăng ký và tìm kiếm các sự kiện kết nối.</p>
                        <p>Bước 1: Tạo tài khoản.</p>
                        <p>Bước 2: Điền đầy đủ thông tin để những người khác thấy bạn dễ dàng hơn.</p>
                        <p>Bước 3: Chọn Sự kiện phù hợp và bắt đầu liên hệ với những tài khoản khác ở khắp mọi nơi.</p>
                    </div>
                </div>
                <div class="middle-banner-mobile--item">
                    <h2>HƯỚNG DẪN SỬ DỤNG</h2>
                    <div class="middle-banner-mobile--details">
                        <p class="middle-banner-mobile--p">
                            Bạn có thể xem các bước hướng dẫn đăng ký tài khoản và sử dụng website tại đây.
                        </p>
                    </div>
                    <a href="https://www.youtube.com/watch?v=DalO2AiLU_k">
                        <button class="btn btn-watch">
                          Xem hướng dẫn
                          <i nz-icon nzType="youtube" nzTheme="outline"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="middle-banner mrg-top--40" nz-row>
                <div class="middle-banner--left" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12">
                    <div class="middle-banner--left-img">
                        <img src="https://dev.anicon.asia/images/main__banner__full__Image236.png" alt="">
                    </div>
                    <div class="middle-banner--left-article">
                        <h2>HƯỚNG DẪN SỬ DỤNG</h2>
                        <div class="middle-banner--left-details">
                            Bạn có thể xem các bước hướng dẫn đăng ký tài khoản và sử dụng website tại đây.
                        </div>
                        <a href="https://www.youtube.com/watch?v=DalO2AiLU_k">
                            <button class="btn btn-watch">
                            Xem hướng dẫn
                            <i nz-icon nzType="youtube" nzTheme="outline"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="middle-banner--right" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12">
                    <div class="middle-banner--right-article">
                        <h2>3 BƯỚC ĐỂ DỄ DÀNG THAM GIA</h2>
                        <div class="middle-banner--right-details">
                            <p>Chỉ mất vài phút là bạn đã có thể đăng ký và tìm kiếm các sự kiện kết nối.</p>
                            <p>Bước 1: Tạo tài khoản.</p>
                            <p>Bước 2: Điền đầy đủ thông tin để những người khác thấy bạn dễ dàng hơn.</p>
                            <p>Bước 3: Chọn Sự kiện phù hợp và bắt đầu liên hệ với những tài khoản khác ở khắp mọi nơi.</p>
                        </div>
                        <div class="middle-banner--right-img">
                            <img src="https://dev.anicon.asia/images/sales%20laptop%201.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Middle-Banner end-->
        <!-- Count start -->
        <div class="counter mrg-top--40">
            <h1 class="font-title--34 text-center font-weight--bold text-color-h1 ">Chỉ số đã đạt được</h1>
            <p class="font-title--18 text-center mrg-text--14 text-color-p"> Hãy cùng nhau hợp tác để phát triển</p>
            <div class="counter-list" nz-row nzJustify="space-around">
                <div class="counter-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                    <p class="font-title--18">
                        <i nz-icon class="counting-icon" nzType="home" nzTheme="outline"></i>Trang trại</p>
                    <div class="counting">221</div>
                </div>
                <div class="counter-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                    <p class="font-title--18">
                        <i nz-icon class="counting-icon" nzType="user-switch" nzTheme="outline"></i>Đơn vị thu mua</p>
                    <div class="counting"> 10</div>
                </div>
                <div class="counter-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                    <p class="font-title--18">
                        <i nz-icon class="counting-icon" [nzType]="'setting'" [nzTheme]="'fill'"></i>Nhà sản xuất vật tư</p>
                    <div class="counting"> 200</div>
                </div>
                <div class="counter-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6">
                    <p class="font-title--18">
                        <i nz-icon class="counting-icon" nzType="user" nzTheme="outline"></i>Nhà đầu tư</p>
                    <div class="counting">50</div>
                </div>
            </div>
        </div>
        <!-- Count end -->
        <!-- News start -->
        <div class="news mrg-top--40">
            <div class="news-title">
                <h1 class="font-title--34 text-center font-weight--bold text-color-h1 ">Tin tức về Aicon</h1>
                <p class="font-title--18 text-center mrg-text--14 text-color-p">Những tin tức và các sự kiện diễn ra tại Anicon</p>
            </div>
            <div class="mrg-rl---12">
                <ngx-slick-carousel class="news-content" #slickModal="slick-carousel" [config]="slideServiceConfig" responsive="responsive">
                    <div ngxSlickItem class="news-content-item">
                        <img src="https://dev.anicon.asia/images/gioithieu_anicon.png" alt="">
                        <div class="news-content-item--article">
                            <h3>Giới thiệu chung về Anicon"</h3>
                            <p class="text-color-p">
                                [Anicon] Nền tảng kết nối và hỗ trợ giao thương nông nghiệp 4.0, nơi tụ hội của các nhà thu mua, nông trại, nhà sản xuất khắp mọi miền đất nước. Tất cả những gì bạn Cần, ANICON luôn sẵn sàng Kết nối!
                            </p>
                            <div class="news-content-item--details">
                                <a href="https://www.facebook.com/NenTangKetNoiAnicon/posts/207606557752251">
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <p>Xem thêm</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="news-content-item">
                        <img src="https://anicon.asia/images/event.png" alt="">
                        <div class="news-content-item--article">
                            <h3>Sự kiện "Bạn Cần, Tôi Có"</h3>
                            <p class="text-color-p">
                                [Anicon] Event online "BẠN CẦN, TÔI CÓ" Cầu nối giữa các đơn vị tiêu thụ nông sản với người nông dân, nhà sản xuất. Sự kiện được tổ chức online từ ngày 18/1/2021 tới ngày 23/1/2021 trên nền tảng kết nối ANICON!
                            </p>
                            <div class="news-content-item--details">
                                <a href="https://www.facebook.com/NenTangKetNoiAnicon/posts/207049744474599">
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <p>Xem thêm</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="news-content-item">
                        <img src="	https://dev.anicon.asia/images/combodesign.png" alt="">
                        <div class="news-content-item--article">
                            <h3>Giới thiệu về gói design, combo</h3>
                            <p class="text-color-p">
                                [Anicon] Siêu Giảm giá lên tới 25% cho 2 gói combo marketing và design cho doanh nghiệp, nông trại khi tham gia đăng ký vào sự kiện "BẠN CẦN, TÔI CÓ" trong thời gian từ ngày 18/1/2021 tới ngày 23/1/2021!
                            </p>
                            <div class="news-content-item--details">
                                <a href="https://www.facebook.com/NenTangKetNoiAnicon/posts/208554360990804">
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <p>Xem thêm</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="news-content-item">
                        <img src="	https://dev.anicon.asia/images/cuocthianh.png" alt="">
                        <div class="news-content-item--article">
                            <h3>Cuộc Thi Ảnh: "Lao động hăng say, rinh ngay quà tặng"</h3>
                            <p class="text-color-p">
                                Cuộc thi ảnh online với chủ đề: "LAO ĐỘNG HĂNG SAY, RINH NGAY QUÀ TẶNG" do Anicon tổ chức với mục đích mang đến cơ hội cho các bạn chia sẻ thành quả, sản phẩm của mình.
                            </p>
                            <div class="news-content-item--details">
                                <a href="https://www.facebook.com/NenTangKetNoiAnicon/posts/207049744474599">
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <p>Xem thêm</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="news-content-item">
                        <img src="https://dev.anicon.asia/images/giaithuongeventthianh.jpg" alt="">
                        <div class="news-content-item--article">
                            <h3>Công bố giải thưởng Cuộc thi ảnh nông nghiệp
                            </h3>
                            <p class="text-color-p">
                                Nhằm đẩy mạnh công tác tuyên truyền, quảng bá thương hiệu về sản phẩm nông nghiệp, Anicon tổ chức 1 cuộc thi ảnh về nông sản với chủ đề “Lao động hăng say, rinh ngay quà tặng.
                            </p>
                            <div class="news-content-item--details">
                                <a href="https://www.facebook.com/NenTangKetNoiAnicon/posts/207049744474599">
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <p>Xem thêm</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        <!-- News end -->
        <!-- Admit start -->
        <div class="admit mrg-top--40">
            <div class="admit-title">
                <h1 class="font-title--34 text-center font-weight--bold">Giá trị được thừa nhận bởi hàng ngàn khách hàng và đối tác</h1>
                <p class="font-title--18 text-center mrg-text--14 text-color-p">Đánh giá thực tế</p>
            </div>
            <div class="mrg-rl---12">
                <ngx-slick-carousel class="admit-content" #slickModal="slick-carousel" [config]="slideAdmitConfig" responsive="responsive">
                    <div class="admit-content-item" ngxSlickItem>
                        <div class="admit-article">
                            <h2 class="mrg-text--14">
                                <nz-avatar nzIcon="user" nzSrc="https://dev.anicon.asia/images/Ellipse%2026.png" [nzSize]="80"></nz-avatar>
                                Chủ trang trại Nguyễn Văn Minh
                            </h2>
                            <span>“Là một người nông dân thuần tuý chỉ biết cày sâu cuốc bẫm không gì về thương mại hoá sản
                          phẩm, tôi đã được Anicon tư vấn và hỗ trợ một cách tận tình dể làm thế nào xây dựng được
                                thương hiệu và truyền thông cho nông sản của mình. Vấn đề lo lắng tìm đầu ra mỗi mùa vụ
                                của tôi đã được giải quyết nhờ tham gia các sự kiện kết nối online của nền tảng Anicon.
                                Cảm ơn đội ngũ Anicon rất nhiều”</span>
                        </div>
                    </div>
                    <div class="admit-content-item" ngxSlickItem>
                        <div class="admit-article">
                            <h2 class="mrg-text--14">
                                <nz-avatar nzIcon="user" nzSrc="https://dev.anicon.asia/images/Ellipse%2027.png" [nzSize]="80"></nz-avatar>
                                Siêu thị Minh Phú
                            </h2>
                            <span>“Trước đây khi tìm kiếm nguồn hàng cho siêu thị, chúng tôi rất đau đầu và mất nhiều thời
                                gian để liên hệ với nông trại và nhà sản xuất. Từ khi trở thành thành viên của Anicon,
                                tôi được tham gia nhiều sự kiện kết nối online với nông dân, giúp chuỗi siêu thị của
                                chúng tôi giải quyết được bài toán về tìm nguồn nông sản với giá thành hợp lý. Tôi đàm
                                phán giá trực tiếp với chủ trang trại và hiểu rõ hơn về chất lượng của sản phẩm khi
                                nhập”</span>
                        </div>
                    </div>
                    <div class="admit-content-item" ngxSlickItem>
                        <div class="admit-article">
                            <h2 class="mrg-text--14">
                                <nz-avatar nzIcon="user" nzSrc="https://dev.anicon.asia/images/Ellipse%2030.png " [nzSize]="80"></nz-avatar>
                                Đại lý Thiên Phú Thành
                            </h2>
                            <span>“Tôi rất thích trang web của Anicon, nó dễ sử dụng, tiện ích lại được hỗ trợ nhanh chóng,
                                nhiệt tình khi tôi có thắc mắc hoặc gặp vấn đề trục trặc”. Nhờ có Anicon, tôi đã có thể
                                gặp được đối tác ưng ý và kết nối với họ không còn là vấn đề đau đầu nữa. Anicon cung
                                cấp công cụ hiệu quả giúp tôi trò chuyện, nhắn tin và chia sẻ khoảnh khắc tuyệt vời!”
                            </span>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
        <!-- Admit end -->
        <!-- Bottom start-->
        <div class="margin-46">
            <div class="bottom mrg-top--40">
                <div class="bottom-first">
                    <div class="bottom-first-content">
                        <h1 class="font-title--34 text-center font-weight--bold">Tham gia mạng lưới kinh doanh cùng Anicon</h1>
                        <p class="font-title--18  text-center">Đồng hành cùng Anicon nhằm kiến tạo một tương lai mới cho nông nghiệp. Chúng tôi chia sẻ các giá trị để bạn có cơ hội đạt được nguồn thu nhập thu động lớn hơn ngay bây giờ.</p>
                        <div>
                            <img src="https://dev.anicon.asia/images/stock%20face2%201.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="bottom-last">
                    <div class="bottom-last-content">
                        <h1 class="bottom-last-content--title">Trở thành quản lý vùng và có được khoản thu nhập hậu hĩnh nhờ chính sách chiết khấu các dòng sản phẩm của chúng tôi</h1>
                        <div nz-row>
                            <div class="bottom-last-content--item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                                <ul class="bottom-last-content--list">
                                    <li>
                                        <i nz-icon nzType="right-circle" nzTheme="fill"></i> Hoa hồng lên đến 20%
                                    </li>
                                    <li>
                                        <i nz-icon nzType="right-circle" nzTheme="fill"></i> Hệ thống quản lý giao dịch và phân phối hoa hồng minh bạch
                                    </li>
                                    <li>
                                        <i nz-icon nzType="right-circle" nzTheme="fill"></i> Tự động hóa và dễ kiểm soát
                                    </li>
                                    <li>
                                        <i nz-icon nzType="right-circle" nzTheme="fill"></i> Truy cập mọi lúc, mọi nơi và không ràng buộc
                                    </li>
                                    <li>
                                        <i nz-icon nzType="right-circle" nzTheme="fill"></i> Mang lại giá trị lớn cho cộng đồng
                                    </li>
                                </ul>
                            </div>
                            <div class="bottom-last-content--item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="121" nzXl="12">
                                <div class="bottom-last-content--img">
                                    <img src="	https://dev.anicon.asia/images/sales_laptop_2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom end -->
    </div>
    <nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="3000" [nzDuration]="2000">
        <ng-template #tpl>
            <div class="ant-back-top-inner"><i nz-icon nzType="up-circle" nzTheme="fill"></i></div>
        </ng-template>
    </nz-back-top>
    <app-footer></app-footer>
</body>
